*{
    margin: 0;
    padding: 0;
}

:root{
    --gris-padre: #E3E3E3;
    --gris-hijo: #D4D4D4;
}

body{
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.contenedor-principal{
    background-color: rgba(255, 255, 255, 0.5);
    width: 35vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 3%;
    padding: 5vh 2vw 5vh 2vw;
}

.contenedor-principal h3{
    font-weight: bold;
    margin: 0;
}

.contenedor-principal .formulario{
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 5vh;
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3%;
}

.contenedor-principal .formulario button{
    background-color: green;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.contenedor-principal .formulario .contenedor-div{
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-principal .formulario .contenedor-div .contenedor-password{
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor-principal .formulario .contenedor-div #password{
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 80% !important;
}


.contenedor-principal .formulario .contenedor-div .figure-password{
    background-color: white;
    border: 3px solid black;
    border-left: none !important;
    border-radius: 5px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 20% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.contenedor-principal .formulario .contenedor-file{
    width: 22vw;
    font-size: small;
    border: 2px solid black;
    border-radius: 3px;
}

.contenedor-principal .formulario .contenedor-file input{
    padding: 0;
}

.contenedor-principal .formulario .contenedor-checks{
    width: 22vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-principal .formulario .contenedor-checks div label{
}

.contenedor-principal .formulario .contenedor-text{
    width: 22vw;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.contenedor-principal .formulario .contenedor-checks div{
    margin-left: 2px;
}

.contenedor-principal .formulario .contenedor-div label{
    width: 22vw;
    font-size: medium;
    text-align: center;
    margin-bottom: 5px;
}

.contenedor-principal .formulario .contenedor-div input{ 
    border: 3px solid black;
    height: 25px;
    border-radius: 5px;
    width: 22vw;
}

.contenedor-principal .formulario div a{
    text-decoration-line: none;
    text-align: center;
    color: green;
}

@media (max-width: 1000px){
    .contenedor-principal{
        width: 40vw !important;
        height: 80vh !important;
    }

    .formulario{
        width: 35vw !important;
        height: 70vh !important;
    }
    .formulario .contenedor-div label{
        font-size: small !important;
        width: 25vw !important;
    }
    .formulario .contenedor-div input{
        width: 25vw !important;
        margin-left: 0 !important;
    }
    .formulario .contenedor-div{
        width: 25vw !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }

    .contenedor-principal .formulario .contenedor-checks{
        width: 25vw !important;
    }
    .contenedor-principal .formulario .contenedor-text{
        width: 25vw !important;
    }

    .contenedor-principal .formulario .contenedor-checks label{
        font-size: small;
    }

    .contenedor-principal .formulario .contenedor-file{
        width: 25vw !important;
    }

    .formulario a{
        font-size: smaller;
    }

    .formulario button{
        height: 30px;
        font-size: small;
        width: 25vw !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 768px){
    .contenedor-principal{
        width: 60vw !important;
    }

    .formulario{
        width: 50vw !important;
        height: 60vh !important;
    }
    .formulario .contenedor-div label{
        width: 40vw !important;
    }
    .formulario .contenedor-div input{
        width: 40vw !important;
    }
    .formulario .contenedor-div{
        width: 40vw !important;
    }

    .contenedor-principal .formulario .contenedor-checks{
        width: 40vw !important;
    }
    .contenedor-principal .formulario .contenedor-text{
        width: 40vw !important;
    }

    .contenedor-principal .formulario .contenedor-file{
        width: 40vw !important;
    }

    .formulario button{
        width: 40vw !important;
    }
}

@media (max-width: 576px){
    
    .contenedor-principal{
        width: 80vw !important;
    }

    .formulario{
        width: 70vw !important;
    }
    .formulario .contenedor-div label{
        width: 60vw !important;
    }
    .formulario .contenedor-div input{
        width: 60vw !important;
    }
    .formulario .contenedor-div{
        width: 60vw !important;
    }

    .contenedor-principal .formulario .contenedor-checks{
        width: 60vw !important;
    }
    .contenedor-principal .formulario .contenedor-text{
        width: 60vw !important;
    }

    .contenedor-principal .formulario .contenedor-file{
        width: 60vw !important;
    }   
    
    .formulario button{
        width: 60vw !important;
    }
}

@media (max-height: 600px){
    .contenedor-principal{
        min-height: 500px !important;
    }

    .formulario{
        min-height: 450px !important;
    }
    
}