*{
    margin: 0;
    padding: 0;
}

:root{
    --gris-padre: #E3E3E3;
    --gris-hijo: #D4D4D4;
}

body{
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.contenedor-principal{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 3%;
    padding: 5vh 2vw 5vh 2vw;
}

.contenedor-principal img{
    width: 30%;
    height: 30%;
}

.contenedor-principal h3{
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.contenedor-principal .formulario{
    background-color:  rgba(255, 255, 255, 0.8);
    margin-top: 5vh;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    justify-content: center;
}

.contenedor-principal .formulario button{
    background-color:green;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.contenedor-principal .formulario .contenedor-div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
}

.contenedor-principal .formulario .contenedor-div label{
    width: 20vw;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-principal .formulario .contenedor-div input{ 
    border: 3px solid black;
    border-radius: 5px;
    width: 100%;
}

.contenedor-principal .formulario .contenedor-div .contenedor-email{
    width: 100%;
}

.contenedor-principal .formulario .contenedor-div .contenedor-password{
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor-principal .formulario .contenedor-div #password{
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 80% !important;
}

.contenedor-principal .formulario .contenedor-div .figure-password{
    background-color: white;
    border: 3px solid black;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 20% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.contenedor-principal .formulario .contenedor-div #password-eye{
}

.contenedor-principal .formulario div a{
    text-decoration-line: none;
    color: green;
}

@media (max-width: 992px){
    .contenedor-principal{
        width: 40vw !important;
        height: 70vh !important;
    }

    .formulario{
        width: 30vw !important;
        height: 40vh !important;
        margin-top: 5vh !important;
    }
    .formulario label{
        font-size: medium !important;
        margin-bottom: 10px !important;
    }

    .formulario .contenedor-div{
        width: 30vw !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .formulario a{
        font-size: medium;
    }

    .formulario button{
        height: 30px;
        font-size: small;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 768px){
    .contenedor-principal{
        width: 50vw !important;
    }

    .formulario{
        width: 40vw !important;
    }
}

@media (max-width: 576px){
    .contenedor-principal{
        width: 60vw !important;
    }

    .formulario{
        width: 50vw !important;
        margin-top: 10px !important;
    }
    .formulario label{
        font-size: small !important;
        width: 30vw !important;
    }
    .formulario .contenedor-div{
        width: 30vw !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .formulario a{
        font-size: small;
    }

    .formulario button{
        height: 20px;
        font-size: x-small;
        margin-top: 10px !important;
        margin-bottom: 10px !important;

    }
}

@media (max-height: 600px){
    .contenedor-principal{
        min-height: 310px !important;
    }

    .formulario{
        min-height: 250px !important;
    }
    
}