<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title alt="Sistema Administrador Gestionar Registros">Sistema Gestionar Registro</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/Style_Plantilla.css">
	<link rel="stylesheet" href="/css/Style_Sis_Prin.css">

	<!-- CSS Tabla -->
	<link rel="stylesheet" href="/css/bootstrap.table.css">
	<!-- CSS Tabla -->

</head>

<body id="body">

	<!-- Header -->
	<template th:replace="layout/plantilla :: header_admin"></template>

	<!-- Aside -->
	<template th:replace="layout/plantilla :: aside_admin"></template>

	<!-- Main -->
	<main id="contenedor-principal" class="contenedor-principal">
		<section id="contenedor">
			<div id="contenedor-div">
				<h2 class="">GESTIONAR REGISTROS DE USUARIOS</h2>
				<hr>

				<section th:if="${solicitudes != null and !solicitudes.empty}">
					<table id="example" class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Tipo</th>
								<th>Foto</th>
								<th>Correo</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="solicitud : ${solicitudes}">
								<td th:text="${solicitud.getId_solicitud()}"></td>
								<td th:text="${solicitud.getNombre()}"></td>
								<td th:text="${solicitud.getApellido()}"></td>
								<td>
									<div class="dropdown">
										<button id="dropdown-button" class="btn btn-secondary dropdown-toggle"
											type="button" data-bs-toggle="dropdown" aria-expanded="false">
											Roles
										</button>
										<ul class="dropdown-menu dropdown-menu-dark"
											aria-labelledby="dropdownMenuButton2">
											<li th:each='rol : ${solicitud.getSolicitudRoles()}'
												th:if="${rol.getTipo_rol().equals('ROLE_ADMINISTRADOR')}"><a
													class="dropdown-item" th:text='${rol.toString()}'></a></li>
											<li th:each='rol : ${solicitud.getSolicitudRoles()}'
												th:if="${rol.getTipo_rol().equals('ROLE_USUARIO')}"><a
													class="dropdown-item" th:text='${rol.toString()}'></a></li>
										</ul>
									</div>
								</td>
								<th><a th:href="${solicitud.getFoto()}" target="_blank" class="link-primary">Foto</a>
								</th>
								<th th:text="${solicitud.getUsername()}"></th>
								<td>
									<div class="dropdown">
										<button id="dropdown-button" class="btn btn-secondary dropdown-toggle"
											type="button" data-bs-toggle="dropdown" aria-expanded="false">
											Opciones
										</button>
										<ul class="dropdown-menu dropdown-menu-dark"
											aria-labelledby="dropdownMenuButton2">
											<li><button type="button" class="dropdown-item text-center"
													th:attr="onclick=|aceptarSolicitud('${solicitud.getId_solicitud()}')|">Aceptar</button>
											</li>
											<li><button type="button" class="dropdown-item text-center"
													th:attr="onclick=|rechazarSolicitud('${solicitud.getId_solicitud()}','${solicitud.getFoto()}')|"
													th:id_solicitud="${solicitud.getId_solicitud()}"
													th:url="${solicitud.getFoto()}">Rechazar</button></li>
										</ul>

									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<div th:if="${solicitudes == null or solicitudes.empty}" class="alert alert-danger" role="alert">
					No hay solicitudes de registro en el sistema.
				</div>
			</div>
		</section>
	</main>

	<template th:replace="layout/plantilla :: footer"></template>


	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>

	<!-- JS Tabla -->
	<script type="text/javascript" src="/js/jquery.datatable.js"></script>
	<script type="text/javascript" src="/js/bootstrap.table.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#example').DataTable();
		});
	</script>
	<!-- JS Tabla -->
	<script type="text/javascript" src="/js/validaciones.js"></script>
</body>

</html>